includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false

    # TODO: Increase rule level to be more strict.
    level: 3

    # TODO: Remove all exclusions except vendor/ and fix related errors.
    excludePaths:
        - examples/*
        - tests/*
        - vendor/*
        - www/*
