<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PHPCurlClass">
            <directory suffix="Test.php">../tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>
